.outerContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: #696969;   
}

.container{
    border: 2px solid white;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    background-color: black;
    width: 1600px;
    height: 900px;
}