h1{
    justify-content: center;
    text-align: center;
    color: white;
    display: flex;
    font-size: 48px;
    margin-top: 100px;
}

h2{
    justify-content: center;
    text-align: center;
    color: lightblue;
    font-size: 30px;
    white-space: pre-wrap;
}

h3{
    justify-content: center;
    text-align: center;
    color: lightblue;
    font-size: 24px;
    white-space: pre-wrap;
    margin-top: 10px
}

.playerSubmit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .playerSubmit h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .playerSubmit .playerName {
    position: relative;
  }
  
  .playerSubmit .playerName input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .playerSubmit form button {
    position: relative;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: #202b33;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    margin-left: 100px;
    letter-spacing: 4px;
    
  }
  
  .playerSubmit button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }



  

  

table{
    border-collapse: collapse;
    width: 50%;
}

th, td{
    height: 50px;
}

table, th, td{
    color: lightblue;
    border: solid white 1px;
    margin: auto;
    font-size: 24px;
    text-align: center;
}

.gameSetting{
    background-color: #202b33;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 10px 20px;
    margin: auto;
    margin-top: 30px;
    width: 240px;
    height: 80px;
    cursor: pointer;
    display: block;
}

.gameSetting:hover{
    background-color: red;
}

.outerContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    /* height: ;
    background-color: #696969;    */
}

.container{
    border: 2px solid white;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    background-color: black;
    width: 1600px;
    height: 900px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}